// bootstrap
@import './../node_modules/bootstrap/scss/bootstrap';

// fonts
@import './fonts';

// variables
@import './variables';

// shared
@import './shared/index';

// golden-week
@import './golden-week/index';

// reset
@import './reset';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: url('/images/background/grass-w320.png') no-repeat center center,
    $brand-tertiary;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media (min-width: 769px) {
    background: url('/images/background/grass.png') no-repeat center center,
      $brand-tertiary;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

main {
  z-index: 2;
}

.form-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  a {
    font-size: 100px;
    text-align: center;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    display: block;
    position: fixed;
    top: 0;
    cursor: pointer;
  }
}
